@model IEnumerable<realxp.seat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.seat_capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seat_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seat_row)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seat_section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seat_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seat_view_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.camera.camera_brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue.venue_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.seat_capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seat_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seat_row)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seat_section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seat_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seat_view_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.camera.camera_brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue.venue_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.seatID }) |
            @Html.ActionLink("Details", "Details", new { id=item.seatID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.seatID })
        </td>
    </tr>
}

</table>
