<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - realxp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- include icons for various devices, OS and browsers -->
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/apple-touch-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/apple-touch-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/apple-touch-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/apple-touch-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/apple-touch-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/apple-touch-icon-152x152.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-196x196.png")" sizes="196x196">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-160x160.png")" sizes="160x160">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-96x96.png")" sizes="96x96">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-16x16.png")" sizes="16x16">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-32x32.png")" sizes="32x32">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="@Url.Content("~/mstile-144x144.png")">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"><img class="img-responsive" alt="realxp" src="@Url.Content("~/Content/Images/realxp-light-navbar.png")" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Events", "Index", "LiveEvent")</li>
                    <li>@Html.ActionLink("Venues", "Index", "Venue")</li>
                    <li>@Html.ActionLink("Join Live Event", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Michael Walton, INB373 Assignment</p>
            <p><i>realxp is a working brand and concept for virtual reality live event experiences and is the original work of Michael Walton. All rights reserved.</i></p>
        </footer>
    </div>
    <!-- include jquery, bootstrap and client side validation-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
