@model IEnumerable<realxp.venue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.venue_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_address_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_address_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_address_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.venue_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_address_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_address_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_address_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.venueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.venueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.venueID })
        </td>
    </tr>
}

</table>
