@model IEnumerable<realxp.venue>

@{
    ViewBag.Title = "Venues";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add a Venue", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.venue_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_city)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content("~/Content/Images/Venues/")@Html.DisplayFor(modelItem => item.venue_image)" alt="@Html.DisplayFor(modelItem => item.venue_name)" class="img-thumbnail"> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_city)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.venueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.venueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.venueID })
        </td>
    </tr>
}

</table>
