@model IEnumerable<realxp.venue_review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.venue_review_review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue_review_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.user_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue.venue_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.venue_review_review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue_review_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.user_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue.venue_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.venue_reviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.venue_reviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.venue_reviewID })
        </td>
    </tr>
}

</table>
