@model realxp.liveevent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>liveevent</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.liveeventID)

        <div class="form-group">
            @Html.LabelFor(model => model.venueID, "venueID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("venueID", String.Empty)
                @Html.ValidationMessageFor(model => model.venueID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liveevent_start_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liveevent_start_time)
                @Html.ValidationMessageFor(model => model.liveevent_start_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liveevent_end_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liveevent_end_time)
                @Html.ValidationMessageFor(model => model.liveevent_end_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liveevent_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liveevent_name)
                @Html.ValidationMessageFor(model => model.liveevent_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liveevent_description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liveevent_description)
                @Html.ValidationMessageFor(model => model.liveevent_description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liveevent_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liveevent_image)
                @Html.ValidationMessageFor(model => model.liveevent_image)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
